@import "variables.module.scss";

.wrap {
  .radioGroup {
    display: inline-block;
    background-color: $primaryColor;
    padding: 8px 24px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    > label {
      display: inline-block;
      padding: 8px 16px;
      color: $grayLight;
      border: 1px solid $grayLight;
      text-align: center;
      cursor: pointer;
      border-radius: 8px;
      box-sizing: border-box;
      > input {
        display: none;
      }
    }
    .checked {
      color: #fff;
      border: 1px solid $backgroundColor;
      font-weight: bold;
    }
    > label + label {
      margin-left: 8px;
    }
  }
  @media screen and (max-width: $mediaSmall) {
    .radioGroup {
      border-radius: 0px;
      display: block;
      margin-bottom: 0;
    }
  }
}
