// colors
$primaryColor: rgba(69, 10, 53, 0.7);
$secondaryColor: #e9c3c7; //rgb(233,195,199)
$colorPink: #ff828c;
$pink: #ffb4b4;
$brownRed: #9e6167;
$gray: #747373;
$grayDark: #404141;
$grayLight: #bababa;
$green: #52a186;
$greenDark: #236d72;
$white: #fff;
$backgroundColor: #fbefef;
$cover: rgba(0, 0, 0, 0.4);
$coverWhite: rgba(255, 255, 255, 0.7);
$coverWhiteLight: rgba(255, 255, 255, 0.5);
$anchorColor: rgb(64, 64, 243);

// media screen
$mediaSmall: 480px;
$mediaMiddle: 768px;
$mediaLarge: 1024px;

%flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
